body{display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.circle{
    display: flex;
    position: absolute;
    top:50%;
    justify-content: center;
    align-items: center;
    height:100px;
    width:100px;
    border-radius: 50%;
    border:10px solid black;
    border-top:10px solid yellow;
    animation-name:cir;
    animation-duration:0.70s;
    animation-timing-function:ease-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;

}
@keyframes cir{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
